html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}


// メディアクエリ用mixin記述
$sp: 480px;


@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}





/*
WEBフォントで「ふい字(HuiFontP109)」 ver130717
http://customtemplate.blog112.fc2.com/blog-entry-143.html
*/
@font-face{
  font-family:'HuiFontP109';
  src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
  src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
  }



img{
  filter: grayscale(7%) contrast(110%);
}

body {
  font-family:"Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;
}

html{
  background-color: #2e2e2e;
  color: #fff;
  // font-family: sans-serif;
  @include sp{
    background-color: #fff;
    color: #fff;
    font-size: 13px;
  }
}
.pc-img{
  display: block;
  @include sp{
    display: none;
  }
}
.sp-img{
  display: none;
  @include sp{
    display: block;     
  }
}

header{
  position: fixed;
  top: 24px;
  left: 48px;
  z-index: 5;
  @include sp{
    left: 24px;
  }
  img{
    width: 26vw;
    height: auto;
    min-width: 150px;
  }
}

.fv{
  width: 100vw;
  height: 100vh;
  @include sp{
    height: 80vh;
  }
  .slideshow {
    position: relative;
    z-index: -1;
    img {
      width: 100vw; /* 画像の横幅 */
      height: 100vh; /* 画像の縦幅 */
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 3s; /* フェードの時間(秒) */
      @include sp{
        height: 80vh;
      }
    }
    .show {
      opacity: 1;
      z-index: 1;
    }
  }
  &-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 55vw;
    img{
      width: 50vw;
      height: auto;
      @include sp{
        width: 85vw;
        padding-top: 40vh;
      }
    }
  }

  &-gradient{
    width: 100vw;
    height: 20vh;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(46, 46, 46, 1));
    top: 80vh;
    position: absolute;
    @include sp{
      top: 60vh;
    }
  }
}

.title{
  position: relative;
  top: 48px;
  margin: 0 auto;
  width: 70vw;
  height: 0;
  z-index: 4;
  @include sp{
    width: 80vw;
  }
  h2{
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: normal;
    @include sp{
      font-size: 16px;
    }
  }
  &-r{
    h2{
      text-align: left;
    }
  }
  &-l{
    h2{
      text-align: right;
    }
  }
}
.title-bar{
  width: 85vw;
  height: 1px;
  background-color: #fff;
  position: relative;
  top: 88px;
  margin-left: 15vw;
  z-index: 4;
  @include sp{
    width: 90vw;  
    margin-left: 10vw;
    top: 80px;
  }
}
.bar-l{
  margin: 0;
}

.block{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  @include sp{
    flex-direction: column;
    margin-bottom: 28vh;
  }
  img{
    width: 50vw;
    height: 55vw;
    object-fit: cover;
    @include sp{
      width: 100vw;
      height: 75vh;
    }
  }
  &-text{
    text-align: center;
    width: 50vw;
    @include sp{
      position: absolute;
      width: 95vw; 
      padding: 10vw 0;
      margin: 5vw;
      margin-top: 90vh;
      background-color: #2e2e2e;
      z-index: 2;
    }
    h3{
      font-family:'HuiFontP109';
      letter-spacing: 1.5px;
      line-height: 200%;
      font-weight: normal;
      padding-bottom: 16px;
      font-size: 24px;
      @include sp{
        font-size: 16px;
        line-height: 1;
      }
    }
    &-border{
      width: 320px;
      margin: 0 auto;
      height: 1px;
      background-color: #fff;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1.6px;
      line-height: 400%;
      margin: 0 auto;
      width: 28vw;
      min-width: 320px;
      padding-top: 40px;
      @include sp{
        line-height: 150%; 
        padding-top: 24px;
        text-align: left;
      }

    }
    .menu-btn{
      width: 19.5vw;
      margin: 0 auto;
      height: 3vw;
      border: solid 1px  #fff;
      margin-top: 24px;
      @include sp{
        width: 60vw;
        padding: 16px;
      }
      a{
        font-size: 13px;
        text-decoration: none;
        color: #fff;
        line-height: 3vw;
      }
    }
  }
}
.menu{
  .block{
    @include sp{
      margin-bottom: 0px;
    }
    img{
      height: 35vw;
      @include sp{
        height: 60vh;
      }
    }
    &-text{
      @include sp{
        position: relative;
        margin-top: 0px;
        width: 100vw;
        margin-bottom: 0px;
      }
      p{
        font-size: 13px;
        line-height: 250%;
        @include sp{
          line-height: 150%;
        }
      }
    }
  }
  .first-menu{
    img{
      height: 45vw;
      @include sp{
        height: 60vh;
      }
    }
    h3{
      @include sp{
        line-height: 1.5;
      }
    }
  }
}

iframe{
  width: 100vw;
  height: 30vw;
  filter: grayscale(50%);
  @include sp{
    height: 50vh;
  }
}

.concept .access .contact{
  margin: 0;
  padding: 0;
}

.concept{
  margin-top: 8vw;
  @include sp{
    margin-top: 0;
  }
}

.access{
  .block{
    @include sp{
      margin-bottom: 0;
    }
    img{
      height: 45vw;
      @include sp{
        height: 60vh; 
      }
    }
    &-text{
      padding-left: 15vw;
      text-align: left;
      @include sp{
        padding: 16px 0;
        position: relative;
        margin-top: 0px;
        width: 100vw;
        margin-bottom: 0px;
      
      }
      >div{
        padding-top: 32px;
        @include sp{
          padding-bottom: 16px;
          padding-top: 0px;
        }
      }
      p{
        font-size: 16px;
        width: auto;
        line-height: 100%;
        padding-top: 16px;
        @include sp{
         font-size: 13px;
         width: 70%;
         margin: 0 auto;
        }
      }

    }
  }
}

.contact{
  .block{
    @include sp{
      margin-bottom: 0px;
    }
    img{
      height: 35vw;
      @include sp{
        height: 60vh;
      }
    }
    &-text{
      margin-left: 5vw;
      text-align: left;
      position: relative;
      margin-top: 0px;
      width: 100vw;
      margin-bottom: 0px;
    
      >div{
        padding-top: 32px;
        @include sp{
          padding: 8px 10vw;
          width: auto;
          margin: 0 auto;
        }
        a{
          letter-spacing: 2px;
          color: #fff;
          text-decoration: none;
          display: block;
          padding-top: 16px;
        }
        .sp-tel{
          a{
            border-bottom: solid 1px #fff;
          }
        }
      }
      p{
        font-size: 16px;
        width: auto;
        line-height: 200%;
        padding-top: 16px;
        @include sp{
          font-size: 13px;
        }
      }
    }
  }
}

footer{
  text-align: center;
  padding: 2vw 0;
  @include sp{
    background-color: #2e2e2e;
    padding: 7vh 0;
  }
  img{
    width: 8.5vw;
    height: auto;
    @include sp{
      width: 30vw;
    }
  }
  p{
    font-size: 9px;
    color: #cccccc;
  }
}