@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*
WEBフォントで「ふい字(HuiFontP109)」 ver130717
http://customtemplate.blog112.fc2.com/blog-entry-143.html
*/
@font-face {
  font-family: 'HuiFontP109';
  src: url("https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot");
  src: url("https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff") format("woff"), url("https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109") format("svg");
}

img {
  filter: grayscale(7%) contrast(110%);
}

html {
  background-color: #2e2e2e;
  color: #fff;
}

@media (max-width: 480px) {
  html {
    background-color: #fff;
    color: #fff;
    font-size: 13px;
  }
}

.pc-img {
  display: block;
}

@media (max-width: 480px) {
  .pc-img {
    display: none;
  }
}

.sp-img {
  display: none;
}

@media (max-width: 480px) {
  .sp-img {
    display: block;
  }
}

header {
  position: fixed;
  top: 24px;
  left: 48px;
  z-index: 5;
}

header img {
  width: 26vw;
  height: auto;
  min-width: 150px;
}

.fv {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 480px) {
  .fv {
    height: 80vh;
  }
}

.fv .slideshow {
  position: relative;
  z-index: -1;
}

.fv .slideshow img {
  width: 100vw;
  /* 画像の横幅 */
  height: 100vh;
  /* 画像の縦幅 */
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 3s;
  /* フェードの時間(秒) */
}

@media (max-width: 480px) {
  .fv .slideshow img {
    height: 80vh;
  }
}

.fv .slideshow .show {
  opacity: 1;
  z-index: 1;
}

.fv-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 55vw;
}

.fv-logo img {
  width: 50vw;
  height: auto;
}

.fv-gradient {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(rgba(255, 255, 255, 0), #2e2e2e);
  top: 80vh;
  position: absolute;
}

@media (max-width: 480px) {
  .fv-gradient {
    top: 60vh;
  }
}

.title {
  position: relative;
  top: 48px;
  margin: 0 auto;
  width: 70vw;
  height: 0;
  z-index: 4;
}

@media (max-width: 480px) {
  .title {
    width: 80vw;
  }
}

.title h2 {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: normal;
}

@media (max-width: 480px) {
  .title h2 {
    font-size: 16px;
  }
}

.title-r h2 {
  text-align: left;
}

.title-l h2 {
  text-align: right;
}

.title-bar {
  width: 85vw;
  height: 1px;
  background-color: #fff;
  position: relative;
  top: 88px;
  margin-left: 15vw;
  z-index: 4;
}

@media (max-width: 480px) {
  .title-bar {
    width: 90vw;
    margin-left: 10vw;
    top: 80px;
  }
}

.bar-l {
  margin: 0;
}

.block {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .block {
    flex-direction: column;
    margin-bottom: 28vh;
  }
}

.block img {
  width: 50vw;
  height: 55vw;
  object-fit: cover;
}

@media (max-width: 480px) {
  .block img {
    width: 100vw;
    height: 75vh;
  }
}

.block-text {
  text-align: center;
  width: 50vw;
}

@media (max-width: 480px) {
  .block-text {
    position: absolute;
    width: 95vw;
    padding: 10vw 0;
    margin: 5vw;
    margin-top: 90vh;
    background-color: #2e2e2e;
    z-index: 2;
  }
}

.block-text h3 {
  font-family: 'HuiFontP109';
  letter-spacing: 1.5px;
  line-height: 200%;
  font-weight: normal;
  padding-bottom: 16px;
  font-size: 24px;
}

@media (max-width: 480px) {
  .block-text h3 {
    font-size: 16px;
    line-height: 1;
  }
}

.block-text-border {
  width: 320px;
  margin: 0 auto;
  height: 1px;
  background-color: #fff;
}

.block-text p {
  font-family: 'Montserrat';
  letter-spacing: 1.6px;
  line-height: 400%;
  margin: 0 auto;
  width: 28vw;
  min-width: 320px;
  padding-top: 40px;
}

@media (max-width: 480px) {
  .block-text p {
    line-height: 150%;
    padding-top: 24px;
    text-align: left;
  }
}

.block-text .menu-btn {
  width: 19.5vw;
  margin: 0 auto;
  height: 3vw;
  border: solid 1px  #fff;
  margin-top: 24px;
}

.block-text .menu-btn a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  line-height: 3vw;
}

@media (max-width: 480px) {
  .menu .block {
    margin-bottom: 0px;
  }
}

.menu .block img {
  height: 35vw;
}

@media (max-width: 480px) {
  .menu .block img {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .menu .block-text {
    position: relative;
    margin-top: 0px;
    width: 100vw;
    margin-bottom: 0px;
  }
}

.menu .block-text p {
  font-size: 13px;
  line-height: 250%;
}

@media (max-width: 480px) {
  .menu .block-text p {
    line-height: 150%;
  }
}

.menu .first-menu img {
  height: 45vw;
}

@media (max-width: 480px) {
  .menu .first-menu img {
    height: 60vh;
  }
}

iframe {
  width: 100vw;
  height: 30vw;
  filter: grayscale(50%);
}

@media (max-width: 480px) {
  iframe {
    height: 50vh;
  }
}

.concept .access .contact {
  margin: 0;
  padding: 0;
}

.concept {
  margin-top: 8vw;
}

@media (max-width: 480px) {
  .concept {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .access .block {
    margin-bottom: 0;
  }
}

.access .block img {
  height: 45vw;
}

@media (max-width: 480px) {
  .access .block img {
    height: 60vh;
  }
}

.access .block-text {
  padding-left: 15vw;
  text-align: left;
}

@media (max-width: 480px) {
  .access .block-text {
    padding: 16px 0;
    position: relative;
    margin-top: 0px;
    width: 100vw;
    margin-bottom: 0px;
  }
}

.access .block-text > div {
  padding-top: 32px;
}

@media (max-width: 480px) {
  .access .block-text > div {
    padding-bottom: 16px;
    padding-top: 0px;
  }
}

.access .block-text p {
  font-size: 16px;
  width: auto;
  line-height: 100%;
  padding-top: 16px;
}

@media (max-width: 480px) {
  .access .block-text p {
    font-size: 13px;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .contact .block {
    margin-bottom: 0px;
  }
}

.contact .block img {
  height: 35vw;
}

@media (max-width: 480px) {
  .contact .block img {
    height: 60vh;
  }
}

.contact .block-text {
  margin-left: 5vw;
  text-align: left;
  position: relative;
  margin-top: 0px;
  width: 100vw;
  margin-bottom: 0px;
}

.contact .block-text > div {
  padding-top: 32px;
}

@media (max-width: 480px) {
  .contact .block-text > div {
    padding: 8px 0;
    width: 70%;
    margin: 0 auto;
  }
}

.contact .block-text > div a {
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding-top: 16px;
}

.contact .block-text > div .sp-tel a {
  border-bottom: solid 1px #fff;
}

.contact .block-text p {
  font-size: 16px;
  width: auto;
  line-height: 200%;
  padding-top: 16px;
}

@media (max-width: 480px) {
  .contact .block-text p {
    font-size: 13px;
  }
}

footer {
  text-align: center;
  padding: 2vw 0;
}

@media (max-width: 480px) {
  footer {
    background-color: #2e2e2e;
    padding: 7vh 0;
  }
}

footer img {
  width: 8.5vw;
  height: auto;
}

@media (max-width: 480px) {
  footer img {
    width: 30vw;
  }
}

footer p {
  font-size: 9px;
  color: #cccccc;
}
